* {
    margin: 0;
	padding: 0;
    box-sizing: border-box;
}
.page {
    margin: 0 auto;
    padding: 45px 65px;
    font-family:'Times New Roman', Times, sans-serif;
    font-weight: bold;
}
h1, h2 {
    background-color: black;
    color: white;
    margin: 50px 0px;
}
h1 {
    font-size: 50px;
}
h2 {
    font-size: 40px;    
}
p, a {
    font-size: 25px;    
    margin: 40px 0px;
}
ul {
    margin-left: 15px;
}
img {
    width: 700px;
    margin: 0px 0px 40px 0px;
}
