* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page {
    font-family: Helvetica, Arial, sans-serif;
}

.header {
    padding: 80px;
    color: white;
    font-size: 50px;
    font-weight: bold;
}

.yellow {
    background-color: #E5E000;
}

.image {
    height: 1080px;
    background-image: url(images/img.png);
    background-size: cover;
}

.links {
    padding: 35px 80px;
}

.links a {
    color: white;
    font-size: 25px;
}

.about {
    font-size: 50px;
    margin: 80px;
}

.about p {
    margin: 1em 0;
}

.about p:first-of-type {
    font-weight: bold;
}

.footer {
    display: flex;
    height: 200px;
    justify-content: space-between;
    align-items: center;
    padding: 0 80px;
}

.info {
    font-size: 50px;
    font-weight: bold;
    color: white;
}



