* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
}

.blue {
    background-color: #0000FF;
    color: #FFFFFF;
}

.header, .footer {
    height: 100px;
    font-size: 25px;
    padding: 35px 30px;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.article {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 5px solid #000000;
}

/* Макет для мобильных*/
@media only screen and (max-width: 844px) {
    .content {
        flex-wrap: nowrap;
        flex-direction: column;
    }
    .article {
        width: 330px;
        height: 165px;
        margin: 20px auto;
        font-size: 25px;
    }
    .footer > p:last-of-type {
        display: none;
    }
}

/* Макет для десктопов*/
@media only screen and (min-width: 845px) {
    .content {
        flex-wrap: wrap;
        max-width: 1440px;
        margin: 100px auto;
    }
    .article {
        width: 600px;
        height: 300px;
        margin: 20px;
        font-size: 50px;
    }
    .footer {
        display: flex;
        justify-content: space-between;
    }
}

